*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.board{
    display: flex;
    flex-wrap: wrap;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    margin: 10px;
    background-color: aqua;
    color:aqua;
    transition: .6s;
    user-select: none;
}

.cardFlip{
    color:black;
}